body {
	margin: 0;
	padding: 0;
    font-family: 'Roboto';
}

header {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	background-color: rgb(192, 174, 160, 0.7);
}

nav {
	display: flex;
	width: 100%;
	padding: 5px 20px;
	z-index: 1000;
}

a {
	text-decoration: none;
    color: #fff;
	margin: 0 12px;
}

h1 {
    font-family: 'Architects Daughter';
    font-size: 64px;
}

h2 {
    font-family: 'Architects Daughter';
    font-size: 44px;
	text-align: center;
	color: #a00202;
}

main {
	position: relative;
	top: 30px;
	color: black;
}

.logo {
	width: 75px;
	height: auto;
	margin: auto;
}

.intro-images {
	width: 55%;
	text-align: center;
	align-items: center;
}
 
.png-image {
	width: 175px;
	height: auto;
	padding: 10px;
	margin: 5px 20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 10px 0 rgba(0, 0, 0, 0.07);
}

.food-img {
	width: 31%;
	height: auto;
	margin: 1.5% 0;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09), 0 3px 10px 0 rgba(0, 0, 0, 0.06);
}

.no-bullet-list {
	list-style: none;
}

.hero {
	width: 100%;
	height: 100vh;
    color: #ffffff;
    padding-top: 12%;
    /*background-image: linear-gradient(135deg, #d80000, #ec0202, #ff0000, #ffd502, #fade15);*/
    background-image: url('images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	background-color: yellow;
}

.hero-content{
	width: 43%;
	text-align: right;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}
.right {
	margin-left: auto;
}

.flex {
	display: flex;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}

.flex-around {
	display: flex;
	justify-content: space-around;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.vh-100 {
	height: 100vh;
}

.m-auto {
	margin: auto;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.my-5 {
	margin-top: 5%;
	margin-bottom: 5%;
}

.p-auto {
	padding: auto;
}

.p-5 {
	padding: 5%;
}

.px-5 {
	padding-left: 5%;
	padding-right: 5%;
}

.py-6 {
	padding-top: 6%;
	padding-bottom: 6%; 
}

.py-5 {
	padding-top: 5%;
	padding-bottom: 5%; 
}

.text-input {
	width: 65%;
    font-family: 'Roboto';
	display: block;
	padding: 7px 10px;
	margin: 5px 0 20px 0; 
	border: 1px solid #d3cfcf;
	border-radius: 5px;
}

.button {
    font-family: 'Roboto';
	padding: 7px 15px;
	border: 1px solid #d3cfcf;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#video {
	width: 50%;
	height: 315px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact {
	background-color: #38332f;
	color: white;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 480px) {
	header {
		height: 100px;
	}

	h1 {
		font-size: 32px;
		margin-top: 35%;
	}

	h2 {
		font-size: 25px;
	}

	nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	.logo {
		width: 50px;
		height: auto;
	}

	.hero-content{
		width: 100%;
		text-align: center;
		padding: 0 7%;
	}

	#intro {
		display: flex;
		flex-wrap: wrap;
	}

	.intro-images {
		width: 100%;
		text-align: center;
		align-items: center;
	}

	.png-image {
		width: 55px;
		height: auto;
		padding: 10px;
		margin: 5px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 10px 0 rgba(0, 0, 0, 0.07);
	}

	#subscribe {
		flex-wrap: wrap;
	}

	#video {
		width: 100%;
		height: 215px;
		margin-top: 15px;
		margin-bottom: 25px;
	}

	#contact {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.flex-between {
		flex-wrap: wrap;
	}

	.food-img {
		width: 280px;
		height: 200px;
		margin: 5px auto;
	}
}

@media (max-width: 1024px) and (min-width: 481px) {
	h1 {
		font-size: 58px;
		margin-top: 35%;
	}

	.hero-content{
		width: 55%;
		padding: 0 7%;
	}

	#intro {
		flex-wrap: wrap;
	}

	.intro-images {
		width: 100%;
		text-align: center;
		align-items: center;
	}
}